<%- include('head', { title: 'Authentication' }) -%>
<head>
  <title>Authentication</title>
</head>
<body>
  <header>
    <h1>Authentication</h1>
  </header>
  <script>var name = "<%= user %>";</script>
  <div class="container">
    <div class="form-container">
      <h2>Login</h2>
      <form method="post" action="/login">
        <div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username">
        </div>
        <div style="margin-top: 5px;">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
        </div>
        <div>
          <input type="submit" style="margin: 1%;" value="Login">
        </div>
      </form>
    </div>

    <div class="form-container">
      <h2>Register</h2>
      <form method="post" action="/register">
        <div>
          <label for="username">Username:</label>
          <input type="text" name="username" id="username">
        </div>
        <div style="margin-top: 5px;">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password">
        </div>
        <div>
          <input type="submit" style="margin: 1%;" value="Register">
        </div>
      </form>
    </div>
  </div>
</body>


<%- include('foot') -%>