header, nav {
    background-color: #003049;
    color: #fff;
    padding: 20px;
}
h1 {
    margin-top: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin: 1%;
}

nav a {
    color: #fff;}
/* Estilos para los formularios */
form {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
}
input[type="submit"], 
button {
    background-color: #003049;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    margin: 1%;
}
input[type="submit"]:hover {
    background-color: #1d4e89;
}
div#votacion {
    padding: 50px;
    margin-bottom: 50px;
}