<%- include('head', { title: 'Voting Creation' }) -%>
<head>
  <title>Votings</title>
</head>
<body>
  <header>
    <h1>Votings</h1>
  </header>
  <div id="container">
    <div id="votaciones">

    </div>
    <% votings.forEach(function(votacion) { %>
      <script>
        var botonVotacion = document.createElement("button");
        var voting_id = "<%= votacion.id %>"
        var voting_name = "<%= votacion.name %>"
        var enlace_boton = document.createElement("a");
        enlace_boton.id = voting_id;
        var enlace = "/voting/" + voting_id;
        enlace_boton.setAttribute('href', enlace);
        botonVotacion.type = "submit";
        botonVotacion.textContent = voting_name;
        enlace_boton.appendChild(botonVotacion);
        document.getElementById("votaciones").appendChild(enlace_boton);
      </script>
      <% }) %>

  </div>

</body>

<%- include('foot') -%>